<div class="country-filters">
  <div class="search-filter shadow">
    <span class="fa fa-search"></span>
    <input class="search-filter" type="text" placeholder="Search for a country..." [(ngModel)]="searchInput" />
    </div>
    <app-filter-dropdown placeholder="Filter by Region" [regions]="regionOptions" [region]="regionFilter">
  </app-filter-dropdown>
</div>

<div class="country-cards">
  <app-country-card *ngFor="let country of countriesList" [country]="country"></app-country-card>
</div>