<div class="country-filters form-group">
  <div class="search-filter shadow">
    <span class="fa fa-search"></span>
    <input
      class="search-filter form-control"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="searchInput"
    />
  </div>
  <app-filter-dropdown
    placeholder="Filter by Region"
    [regions]="regionOptions"
    (valueChanged)="filter($event)"
  >
  </app-filter-dropdown>
</div>

<div class="country-cards">
  <app-country-card
    *ngFor="let country of countriesListFiltered |filter:searchInput "
    [country]="country"
  ></app-country-card>
</div>
