<div *ngIf="country$ | async as country" class="country">
  <button class="button shadow" [routerLink]="'/'">
    <span class="fa fa-arrow-left"></span>
    Back
  </button>
  <div class="country-layout">
    <img [src]="country.flags.png" />
    <div class="country-detail">
      <h3>{{ country.name.common }}</h3>

      <div class="country-info">
        <div class="country-section">
          <p *ngIf="country.name.nativeName | keyvalue">
            <strong>Native Name:</strong>
            {{ country.name.nativeName.name }}
            </p>
          <p>
            <strong>Population:</strong>
            {{ country.population | number: '1.0' }}
          </p>
          <p>
            <strong>Region:</strong>
            {{ country.region }}
          </p>
          <p>
            <strong>Sub Region:</strong>
            {{ country.subregion }}
          </p>
          <p>
            <strong>Capital:</strong>
            {{ country.capital }}
          </p>
        </div>

        <div class="country-section">
          <p>
            <strong>Top Level Domain:</strong>
            {{ country.car.signs }}
          </p>
          <p *ngFor="let c of country.currencies | keyvalue">
            <strong>Currencies:</strong>
            {{ c.key }}
          </p>
          <p *ngFor="let language of country.languages | keyvalue">
            <strong>Language:</strong>
            {{ language.value }} - {{language.key}}
          </p>
        </div>
      </div>
      <div class="border-countries">
        <p><strong>Border Countries:</strong></p>
        <div *ngIf="borderCountries$ | async; let border" class="border-countries-buttons">
          <div *ngFor="let borderCountry of border" class="button shadow">
            <div>
              {{ borderCountry.borders }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>